$bg-color:#f8f9fa;
$text-color:#9fa0a1;
$text-body:#3f4041;
$color-gray:#e9ecee;
$color-orange:#f9bc64;
$color-light:#fef2e0;
$border-gray:.08rem solid #e9ecee;
$border-orange:.08rem solid #f9bc64;
$box-shadow: 9px 2px 18px -1px rgba(0,0,0,0.15);
$orange:#f9bc64;